#   Terminal Shortcuts
#   ------------------------------------------------------------

# Easier navigation
alias ~="cd ~"
alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'
alias .6='cd ../../../../../../'

alias f='open -a Finder ./'
alias path='echo -e ${PATH//:/\\n}'
alias c='clear'

# List things
alias l='ls -alF'
alias ll='ls -l'
alias la='ls -la'

# Hide/show hidden files in finder
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Shortcuts to work
alias cdnyt='cd ~/NYT'
alias vaultin='vault login -method=github token=$(cat $HOME/.config/vault/github)'

# Set volume
alias stfu="osascript -e 'set volume output muted true'"
alias crankit="osascript -e 'set volume 7'"

# Docker
alias up='docker-compose up'
alias down='docker-compose down'
alias build='docker-compose build'
alias dc='docker-compose'
alias drm='docker rm -f'
alias dls='docker ps -a'
alias dcrun='docker-compose run --rm'
alias dexec='docker exec -it'
alias dbash='dc exec'
alias drm_all='docker rm -f $(docker ps -aq)'
alias clean='docker system prune -f && docker volume prune -f && docker image prune -f'
